<a href="https://colab.research.google.com/github/augsberto/ejercicio_python_sec/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 1
n = 100
while i <= 100:
  print(i)
  i = i + 1
suma = (n*(n + 1))/2
print("suma: ", suma)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
suma:  5050.0

In [ ]:
min = int(input("ingrese el limite inferior del intervalo "))
max = int(input("ingrese el limite superior del intervalo "))

while min <= max:
  if min % 2 == 0:
    print(min)
  min = min + 1

ingrese el limite inferior del intervalo 1
ingrese el limite superior del intervalo 10
2
4
6
8
10

In [ ]:
x = int(input("ingrese un numero "))

pares = 0
impares = 0

actuales = 1

while actuales <= x:
  if actuales % 2 == 0:
    pares += 1

  else:
    impares += 1
  actuales += 1
print("numeros pares", pares)
print("numeros impares", impares)

ingrese un numero 88
numeros pares 44
numeros impares 44

In [ ]:
num = 0
suma = 0
while num >= 0:
  num = int(input("ingrese un numero entero "))
  suma = suma + num

print("el valor de la suma es: ", suma)

ingrese un numero entero 5
ingrese un numero entero 3
ingrese un numero entero 2
ingrese un numero entero -5
el valor de la suma es:  5

In [ ]:
num = int(input("ingrse un numero "))
i = 1
suma = 0
while i<= num:
  if i % 2 == 0:
    suma = suma + i
  i = i + 1

print("la suma  de los numeros pares es", suma)

ingrse un numero 10
la suma  de los numeros pares es 30

In [ ]:
num = int(input("ingrese un numero: ")
i = 1
while i <= 10:
  print(num," x ")
  i = i + 1

SyntaxError: ignored

In [ ]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,20,1):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [ ]:
for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
suma = 0
for i in range(1,101):
    print(i)
    suma += i

    print("suma= ", suma)

1
suma=  1
2
suma=  3
3
suma=  6
4
suma=  10
5
suma=  15
6
suma=  21
7
suma=  28
8
suma=  36
9
suma=  45
10
suma=  55
11
suma=  66
12
suma=  78
13
suma=  91
14
suma=  105
15
suma=  120
16
suma=  136
17
suma=  153
18
suma=  171
19
suma=  190
20
suma=  210
21
suma=  231
22
suma=  253
23
suma=  276
24
suma=  300
25
suma=  325
26
suma=  351
27
suma=  378
28
suma=  406
29
suma=  435
30
suma=  465
31
suma=  496
32
suma=  528
33
suma=  561
34
suma=  595
35
suma=  630
36
suma=  666
37
suma=  703
38
suma=  741
39
suma=  780
40
suma=  820
41
suma=  861
42
suma=  903
43
suma=  946
44
suma=  990
45
suma=  1035
46
suma=  1081
47
suma=  1128
48
suma=  1176
49
suma=  1225
50
suma=  1275
51
suma=  1326
52
suma=  1378
53
suma=  1431
54
suma=  1485
55
suma=  1540
56
suma=  1596
57
suma=  1653
58
suma=  1711
59
suma=  1770
60
suma=  1830
61
suma=  1891
62
suma=  1953
63
suma=  2016
64
suma=  2080
65
suma=  2145
66
suma=  2211
67
suma=  2278
68
suma=  2346
69
suma=  2415
70
suma=  2485
71
suma=  2556
72
suma=  2628
73
suma=  2701
74
suma=  2775
75
suma=  2850
76
suma=  2926
77
suma=  3003
78
suma=  3081
79
suma=  3160
80
suma=  3240
81
suma=  3321
82
suma=  3403
83
suma=  3486
84
suma=  3570
85
suma=  3655
86
suma=  3741
87
suma=  3828
88
suma=  3916
89
suma=  4005
90
suma=  4095
91
suma=  4186
92
suma=  4278
93
suma=  4371
94
suma=  4465
95
suma=  4560
96
suma=  4656
97
suma=  4753
98
suma=  4851
99
suma=  4950
100
suma=  5050

In [ ]:
num = int(input("ingresa el numero"))
factorial = 1
for i in range(1,(num + 1)):
    factorial *= i

print("factorial=", factorial)

ingresa el numero4
factorial= 24

In [13]:
confirmar = "SI"
num = 0
max = 0
min = 0
primernum = True
while confirmar =="SI":
  num = int(input("ingrese un numero"))
  if primernum:
  max = num
  min = num
  primernum = True
  if max < num:
    max = num
  confirmar = input("escriva SI para continuar o NO para finalizar ")
if min > num:
  min = num
print("el numero mayor:", max)
print("el numeron menor:", min)

IndentationError: ignored